*{
    margin: 0;
    padding: 0;
}
body{
     font-family: 'Fira Sans', sans-serif;
     font-family: 'Montserrat', sans-serif;
}
.everything{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
    
}

nav img{
    width: 70px;
    padding: 12px;
}
.nav-link{
    text-align: right;
    flex: 1;
}
.nav-link ul li{
    list-style: none;
    padding: 8px 12px;
    display: inline-block;
    position: relative;
}
.nav-link ul li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#6172bdf6;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 42px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}
.btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    position: relative;
    font-weight:bold;
} 
.btn:hover{
    border: 1px solid #6172bdf6;
    background: #6172bdf6;
    transition: 0.1s;
    border-radius: 12px;
}
nav .fa{
    display: none;
}


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 35px ;
    font-weight: 600;
}

p{
    color: #777;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-enis{
    flex-basis: 30% ;
    background: #6172bdf6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.1s ;
}

.course-enis p{
    color: #fff;
} 

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-enis:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.575);
}

.ccc{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.campus-enis{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}
.campus-enis img{
    width: 100%;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.layer:hover{
    background: rgba(50, 53, 211, 0.616);
}

.layer h3{
    width: 100%;
    font-weight: 600;
    color:#010720f6 ;
    font-size: 24px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.campus-enis img{
    display: block;
}
.economic-box1 p{
    display: block;
    margin-left: 130px;
    font-size: 15px;
    width: 30%;
    color: black;
    margin-top: 20px;
    
    
}
.economic-box1 p:hover{
    background-color: #6172bdf6;
    transition: 0.9s;
    color: white;
    border-radius: 10px;
    
}
.economic-crisis{
    margin-top: 45px;
   
}
.economic-crisis h1{
    text-align: center;
}
.economic-box2 p{
    display: block;
    font-size: 15px;
    width: 30%;
    color: black;
    margin-left: 130px;
}  
.economic-box2 p:hover{
    background-color: #6172bdf6;
    transition: 0.9s;
    color: white;
    border-radius: 10px;

   
}

.economic-box2{
    display: inline-block;
    
    /* width: 70%; */
}
.economic-box1{
    display: inline-block;
    /* width: 70%; */
}


@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    img{
        width: 100%;
    }
    .text-box h1{   
        font-size: 29px;
    }
    .llogo{
        width: 40px;
        height: 40px;
        top: 15px;
    }
    ul{
        width: 349px;
        top: 15px;
        font-size: 5px;
        margin: -6px;
        margin-left: -85px;
    }
    .economic-box1{
        display: block;
        width: 900px;
        margin-left: -78px;
     
    }
    .economic-box2{
        display:block;
        width: 900px;
        margin-left: -78px;
     
    }
}





/* footer */
.footer{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.footer h4{
    margin-bottom: 24px;
    margin-top: 20px;
    font-weight: 600;
}
.icon .fa{
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    display: inline-block;

}
.icon li{
    margin: 0 10px;
    font-size: 22px;
}
.icon{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}


/* media screen */
/* @media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background: #6172bdf6;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    /* nav .fa{
        display: block;
        color: black ;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; */
    /* }
    .nav-link ul{
        padding: 30px;
    } */ 
